/* src/components/Footer.css */

.footer {
    background-color: #1b2025;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #e7e7e7;
}

.footer-content {
    margin-bottom: 10px;
}

.footer-content p {
    margin: 5px 0;
    font-family: var(--font-code);
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-bottom .cookies {
    margin-inline-start: 10vh;
    font-family: var(--font-code);
}

.footer-bottom .copyright {
    font-family: var(--font-code);
    margin: 0;
    color: #6c757d;
}
